<div class="single-post-container col s12 m7">
  <div class="card horizontal">
    {{!-- side bar --}}
    <div class="card-panel grey post-bar">
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_upward</i>
      </button>
      <h5>{{post.karma}}</h5>
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_downward</i>
      </button>
    </div>
    {{!-- start of main content --}}
    <div class="card-stacked">
      <div class="row">
        <div class="col s12 card-content">
          <p>Created by {{posts.user.user_name}} on {{format_date posts.created_at}}</p>
          <h2><a href="/api/posts/{{id}}">{{posts.post_title}}</a></h2>
          <p>
            {{post_content}}
            {{!-- {{> posts post.posts}} --}}
          </p>
        </div>
      </div>
      {{!-- Can only add a comment if logged in --}}
      {{#if loggedIn}}
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s8">
              <textarea name="content" id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Add a comment..</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <a class="waves-effect waves-light btn">ADD COMMENT</a>
            </div>
          </div>
        </form>
      </div>
      {{/if}}
      <!-- comment.handelbars starts here -->
      <div class="row">
        <div class="col s10">
          {{> comments posts.comments}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}