<div class="single-post-container col s12 m7">
  <div class="card horizontal">
    <div class="card-panel grey post-bar">
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_upward</i>
      </button>
      <h5>{{post.karma}}</h5>
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_downward</i>
      </button>
    </div>
    <div class="card-stacked">
      <div class="row">
        <div class="col s12 card-content">
          <p>Created by {{post.user.user_name}} on {{format_date post.date_created}}</p>
          <h2><a href="/post/{{post_id}}">{{post_title}}</a></h2>
          <p>
            {{post_content}}
          </p>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s8">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Add a comment..</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <a class="waves-effect waves-light btn">ADD COMMENT</a>
            </div>
          </div>
        </form>
      </div>
      <!-- comment.handelbars starts here -->
      <div class="row">
        <div class="col s10">
          <p>{{comment.comment_text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>